 <div class="user-details">
  <h1 class="text-info"> My Expertise </h1>
  <p class="lead"> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2 class="text-danger">Design</h2>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="devicon-sass-plain colored"></i>
      <i class="devicon-bootstrap-plain colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <i class="devicon-react-plain colored"></i>      


      <p>HTML, CSS, <abbr title="Syntactically Awesome StyleSheets">Sass</abbr>, Bootstrap, jQuery, ReactJS and many more...</p>
    </div>
    <div class="tech">
      <h2 class="text-warning">Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-ruby-plain colored"></i>


      <p>JavaScript, Pyhon, MongoDB, NodeJS, TypeScript, Ruby</p>
    </div>
    <div class="tech">
      <h2 class="text-success">Tools</h2>      
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-express-original colored"></i>
      <i class="devicon-gulp-plain colored"></i>      
      <i class="devicon-webpack-plain colored"></i>
      <i class="devicon-bower-plain colored"></i>


      <p>Git & GitHub, Docker, ExpressJS, Gulp, Webpack, Bower and many more...</p>
    </div>
</div>
