<!-- ABOUT SECTION -->
<section id="cv" class="py-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header text-center">
          <h1 class="text-info pb-1">
            My Background
          </h1>
          <p class="lead pb-3">
            I started coding when I was 14, and I'm so in love with computers and software development...
            <br><a href="/assets/files/Resume-Akhmadjon_Ruzikulov.pdf" target="_blank" class="btn btn-light"><i class="fa fa-download"></i> Download my Resume</a>
          </p>
        </div>

        <!-- ACCORDION -->
        <div class="accordion" id="myAccordion">
          <div class="card">
            <div class="card-header text-center" id="headingOne">
              <h5 class="mb-0">
                <div class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fa fa-arrow-circle-down"></i> <b>Work Experience</b>
                </div>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#myAccordion">
              <div class="card-body lead">
                <ul>
                  <li>2016~present, Co-Founder & CTO at OBORCHAIN. Full Stack JavaScript Developer</li>
                  <li>2010~2016, Teacher of Computer Science at Termez State University (full time)</li>
                  <li>2008~2010, System Administrator at Center of Information Technology of Termez State University (part time)</li>
                  <li>2007~2008, Teacher of Computer Science at Termez High School of Computer Science (full time)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header text-center" id="headingTwo">
              <h5 class="mb-0">
                <div class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <i class="fa fa-arrow-circle-down"></i> <b>Education</b>
                </div>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
              <div class="card-body lead">
                <p><b>Degrees</b></p>
                <ul>
                  <li>2016~present, PhD candidate in School of Computer Science at Huazhong University of Science and Technology</li>
                  <li>2008~2010, Master's Degree in Mathematics (Differential Equations) at Termez State University</li>
                  <li>2003~2007. Bachelor's Degree in Applied Mathematics and Information Technology at Termez State University</li>
                </ul>
                <p><b>Internships</b></p>
                <ul>
                  <li>2015 August, Kyoung Hee University, Seoul, Korea</li>
                  <li>2012~2013, Central China Normal University, Wuhan, China</li>
                </ul>
                <p><b>And Never Stop Learning...</b></p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header text-center" id="headingThree">
              <h5 class="mb-0">
                <div class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <i class="fa fa-arrow-circle-down"></i> <b>Achievements and Certifications</b>
                </div>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
              <div class="card-body lead">
                <ul>
                  <li>1992-2003, The Best Student of School and High School with Honorary Diploma. Uzbekistan</li>
                  <li>2004, International Research and Exchange Board Certification. USA</li>
                  <li>2009, Met with The President of Uzbekistan and discuss about Computer Science</li>
                  <li>2010, Huawei University Certification</li>
                  <li>2011 & 2012, The Best Web Developer of the Year. Uzbekistan</li>
                  <li>2012-2013, Chinese Government Scholarship for Computer Science in Education</li>
                  <li>2016-2019, Chinese Government Scholarship for PhD in Computer Science</li>
                  <li>And many other certifications on Education in Computer Science from Ministry of Education in Uzbekistan</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header text-center" id="headingFour">
              <h5 class="mb-0">
                <div class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  <i class="fa fa-arrow-circle-down"></i> <b>FAQ</b>
                </div>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
              <div class="card-body lead">
                <p><b>General</b></p>
                <ul>
                  <li><b>Spoken Languages: </b>Uzbek, English</li>
                  <li><b>From: </b>Uzbekistan</li>
                </ul>

                <p><b>Favourites</b></p>
                <ul>
                  <li><b>Computer: </b>Raspberry Pi</li>
                  <li><b>OS: </b>Ubuntu</li>
                  <li><b>Cloud: </b>Mega</li>
                  <li><b>Text Editor: </b>VSCode</li>
                  <li><b>Browser: </b>Chrome</li>
                  <li><b>HTML & CSS Framework: </b>Bootstrap</li>
                  <li><b>Programming Languages: </b>JavaScript & Python</li>
                  <li><b>Database: </b>MongoDB</li>
                  <li><b>Front End JS Framework: </b>Angular</li>
                  <li><b>Front End JS Library: </b>ReactJS</li>
                  <li><b>Server Side Technology: </b>NodeJS</li>
                  <li><b>Server Side Framework: </b>ExpressJS</li>
                  <li><b>Desktop App Dev: </b>Electron</li>
                  <li><b>Mobile App Dev: </b>ReactNative</li>
                  <li><b>Car: </b>Tesla</li>
                </ul>

                <p><b>Hobbies</b></p>
                <ul>
                  <li>Swimming, Running, Hiking, Climbing, Table Tennis, Traveling</li>
                  <li>Coding, AI, Making Robots and Smart Devices</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
